@{
    ViewData["Title"] = "Explore";
}
<h1>@ViewData["Title"]</h1>



<p>Use this page to explore new recipes.</p>

<h2> Recipe of the Day</h2>







<!-- First Photo Grid-->
<h2> Breaksfast</h2>
<div class="row" id="food">
    <div class="col">
      <img src="/Images/Asparagus-Omelette-Wrap.jpg" alt="Sandwich" style="width:100%">
        <h3>Asparagus Omelette Wraps</h3>
        <p>These wraps make a lovely breakfast, light lunch or entrée.</p>
    </div>
    <div class="col">
      <img src="/Images/Egg-Enchilada.jpg" alt="Steak" style="width:100%" >
        <h3>Egg Enchiladas</h3>
        <p>A filling brunch dish, using hard-boiled eggs.</p>
    </div>
    <div class="col">
      <img src="/Images/Breakfast-Bar.jpg" alt="Cherries" style="width:100%">
        <h3>Healthy Breakfast Energy Bars</h3>
        <p>Homemade breakfast bars full of goodness.</p>
    </div>
    <div class="col">
      <img src="/Images/Broccoli-Egg-Lasagna.jpg" alt="Pasta and Wine" style="width:100%">
      <h3>Broccoli and Egg Lasagna</h3>
        <p>Here is a wonderful brunch recipe, I make it quite often at my house for weekend gatherings.</p>
    </div>
  </div>
  
  <!-- Second Photo Grid-->
<h2>Lunch</h2>
  <div class="row">
    <div class="col">
      <img src="/Images/Pinto-Bean-Soup.jpg" alt="Popsicle" style="width:100%">
        <h3>Pinto Bean Soup With Fresh Salsa</h3>
        <p>Despite its creamy taste, this simply prepared soup is surprisingly low in fat.</p>
    </div>
    
    <div class="col">
      <img src="/Images/Pumpkin-Chili.jpg" alt="Sandwich" style="width:100%">
        <h3>Pumpkin Chili</h3>
            <p> Add some fall flavor and some additional nutrition to your chili.</p>
    </div>
    <div class="col">
      <img src="/Images/Spinach-Feta-Scones.jpg" alt="Croissant" style="width:100%">
        <h3>Spinach and Feta Scones</h3>
        <p>Spinach and feta scones with a bit of green onion for added flavor.</p>
    </div>
	<div class="col">
		<img src="/Images/Banana-Bread.jpg" alt="Popsicle" style="width:100%">
		<h3>Low Fat Wholesome Banana Bread</h3>
		<p>Delicious sweet banana bread for those wishing for a lighter fare</p>
	</div>

    <!-- Third Photo Grid-->
    <h2>Dinner</h2>
    <div class="row">
		<div class="col">
			<img src="/Images/Creole-Macaroni.jpg" alt="Salmon" style="width:100%">
			<h3>Creole Macaroni</h3>
			<p>This is an excellent dish easy to make and fast! way better than hamburger helper cause its homemade.</p>
		</div>
        <div class="col">
            <img src="/images/Bean-Stew.jpg" alt="Salmon" style="width:100%">
            <h3>Bean Stew With Cornmeal-Cheddar Dumplings</h3>
            <p>This is a hearty vegetable stew. Adjust all seasonings to taste.</p>
        </div>
        <div class="col">
            <img src="/Images/Grilled-Aubergine.jpg" alt="Sandwich" style="width:100%">
            <h3>Grilled Aubergine and Mushroom Stack
            </h3>
            <p>A gourmet looking relatively simple yet delicious meal.</p>
        </div>
        <div class="col">
            <img src="/Images/Eggplant-Parmesan.jpg" alt="Croissant" style="width:100%">
            <h3>Garden Fresh Eggplant Parmesan
            </h3>
            <p>An Italian dish made up of slices of eggplant that are coated in flour, breadcrumbs, and then baked.</p>
        </div>
  </div>