@{
    ViewData["Title"] = "Explore";
}
<h1>@ViewData["Title"]</h1>



<p>Use this page to explore new recipes.</p>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text bg-warning" id="inputGroup-sizing-default">Search</span>
    </div>
    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
</div>

<div class="btn-group">
    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Protein
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Chicken</a>
        <a class="dropdown-item" href="#">Fish</a>
        <a class="dropdown-item" href="#">Beef</a>
        <a class="dropdown-item" href="#">Pork</a>
    </div>
</div>

<div class="btn-group">
    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dietary Restrictions
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Lactose Intolerant</a>
        <a class="dropdown-item" href="#">Keto</a>
        <a class="dropdown-item" href="#">Vegan</a>
        <a class="dropdown-item" href="#">Vegetarian</a>
        <a class="dropdown-item" href="#">Kosher</a>
    </div>
</div>


<!-- First Photo Grid-->
<h2 class="display-4"> Breaksfast</h2>
<hr class="hr" />
<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="/Images/Food cards/Aparagus-Omelette.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Asparagus Omelette Wrap</h5>
      <p class="card-text">These wraps make a lovely breakfast, light lunch or entrée. This recipe was originally from a 
          free health magazine. Makes at least 8 wraps. Serve with a little hollandaise sauce if desired. Can easily use 
          parmesan cheese in place of the pecorino and any herbs of your preference.</p>
            <a href="#" class="btn btn-warning">Add Item to MyRecipes</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/Images/Food cards/Pancakes.jpeg" alt="Card image cap">
    <div class="card-body">
            <h5 class="card-title">Low Calorie Pancakes</h5>
            <p class="card-text">i've been looking for a low calorie low fat recipe for pancakes and finally found one that looks like it's worth trying</p>
            <a href="#" class="btn btn-warning">Add Item to MyRecipes</a>
        </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/Images/Food cards/Breakfast-Turnover.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Breakfast Turnover</h5>
            <p class="card-text">
                Creamy eggs, mushrooms and Black Forest ham wrapped in puff pastry.  Play around with your own combos for the filling -- try different cheeses, vegetables and herbs.  From the March, 2009 Ladies' Home Journal magazine.  Note:  Time does not include 15 minute chill time.
                
            </p>
            <a href="#" class="btn btn-warning">Add Item to MyRecipes</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/Images/Food cards/Low-Calorie-Smoothie.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Berry Smoothie</h5>
            <p class="card-text">Keep the ingredients for this recipe on hand to make a healthful after-school snack.</p>
            <a href="#" class="btn btn-warning">Add Item to MyRecipes</a>
    </div>
  </div>
</div>

<br />
<!-- Second Photo Grid-->
<h2 class="display-4"> Lunch</h2>
<hr class="hr" />
<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="/Images/Food cards/Apple-Chicken-Quesedea.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Apple Chicken Quesadilla</h5>
            <p class="card-text"> I love quesadillas and frequently make one for my breakfast.  This is a delicious combination I found at simplyrecipes.com in the blog of someone named Elise.</p>
            <a href="#" class="btn btn-warning">Add Item to MyRecipes</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/Images/Food cards/Vegetable-Soup.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Easy Vegetable Soup</h5>
            <p class="card-text">I threw together this vegetable soup for lunch the other day. It was really tasty and warming, with the Tabasco giving a good little zing. It's also super healthy, which is a bonus. I diced all my vegetables into about 5mm - 1cm cubes. Vary it according to how you like it, but be aware that the chunkier they are, the longer it'll take to cook.</p>
            <a href="#" class="btn btn-warning">Add Item to MyRecipes</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/Images/Food cards/Summer-Sausage.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Venison Summer Sausage</h5>
            <p class="card-text">This is an excellent recipe for "what to do with all that deer meat" and is also good done with only ground beef, as many ranchers end up with alot of hamburger after the steaks are gone. The 1# of hamburger is necessary as venison, if ground lean, tends to be very dry. I can't keep this stuff in the house--my family loves it and it is very low fat snack.</p>
            <a href="#" class="btn btn-warning">Add Item to MyRecipes</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/Images/Food cards/Tomato-Soup.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Creole Tomato Soup (Low Fat)</h5>
            <p class="card-text">
                Quick and easy.  A nice warmer-upper lunch for a winter day.  Serve with a crusty French bread or rolls.
            </p>
            <a href="#" class="btn btn-warning">Add Item to MyRecipes</a>
    </div>
  </div>
</div>

<br />
<!-- Third Photo Grid-->
<h2 class="display-4"> Dinner</h2>
<hr class="hr" />
<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="/Images/Food cards/Penne-Pasta.jpeg" alt="Card image cap">
    <div class="card-body">
            <h5 class="card-title">Penne With Artichokes and Black Olives</h5>
            <p class="card-text">This is a really yummy, fast weeknight dinner.  So good with some crusty bread and a glass of red wine.</p>
            <a href="#" class="btn btn-warning">Add Item to MyRecipes</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/Images/Food cards/Thai-chicken.jpeg" alt="Card image cap">
    <div class="card-body">
            <h5 class="card-title">Thai Basil Chicken in Coconut-Curry Sauce</h5>
            <p class="card-text">This is a family favorite recipe the kids enjoy as well.  I grown my own Thai basil, so I have lots of it in the summer.  It does give the dish much more flavor.  When basil is out of season I use cilantro.  I eliminate the jalapenos when serving this to my kids.</p>
            <a href="#" class="btn btn-warning">Add Item to MyRecipes</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/Images/Food cards/salmon.jpeg" alt="Card image cap">
    <div class="card-body">
            <h5 class="card-title">Lemon Ginger Salmon</h5>
            <p class="card-text"> Easy baked salmon recipe.  Can also be microwaved.</p>
            <a href="#" class="btn btn-warning">Add Item to MyRecipes</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/Images/Food cards/spinach-lasagna.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Spinach Lasagna</h5>
            <p class="card-text">Found the updated recipe zaar version in the paper, had it for my birthday and it was absolutely fab</p>
            <a href="#" class="btn btn-warning">Add Item to MyRecipes</a>
    </div>
  </div>
</div>

<br />
<nav aria-label="...">
  <ul class="pagination">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item active">
      <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
    </li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>