@{
    ViewData["Title"] = "Home Page";
}


<div id="header-image-menu">
    <img src="/Images/Header.jpg">
</div>

<div class="text-center">
    <br />
    <h1 class="display-4">Welcome</h1>
    <p>GatorChef is a web application that allows students to easily make healthy and nutritional meal plans.
        Here we show different meals you can make that will give you a healthy and balanced diet while still considering any specific meal prefences and including 
        what you want to eat. It is important for studnts to maintain healthy eating habits because it can reduce the number of health risks and increase life span.
     Not only that but a healthy student is also a better learner. Research shows that eating habits and healthy behaviors are connected to academic achievement.</p>

	<div class="container">
		<label for="uname"><b>Username</b></label>
		<input type="text" placeholder="Enter Username" name="uname" required>

		<div class="container">
			<label for="psw"><b>Password</b></label>
			<input type="password" placeholder="Enter Password" name="psw" required>


		</div>
	</div>

    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <meta name="google-signin-client_id" content="1079354915700-9l8a4q060e01ujavrh2913j01ar06gol.apps.googleusercontent.com">
    <div class= "g-signin2" data-onsuccess="onSignIn"></div>

    
</div>

