@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>GatorChef is a web application that allows students to easily make healthy and nutritional meal plans .</p>
    
</div>
