@{
    ViewData["Title"] = "MyRecipes";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to view your saved recipes.</p>

<div class="card w-90">
    <div class="card-body">
        <h5 class="card-title">Berry Orange Smoothie</h5>
        <p class="card-text">Keep the ingredients for this recipe on hand to make a healthful after-school snack.</p>
        <a href="#" class="btn btn-warning">Make it!</a>
        <a href="#" class="btn btn-warning">Delete Item from MyRecipes</a>
    </div>
</div>
<br />
<div class="card w-90">
    <div class="card-body">
        <h5 class="card-title">Apple Chicken Quesadilla</h5>
        <p class="card-text">I love quesadillas and frequently make one for my breakfast.  This is a delicious combination I found at simplyrecipes.com</p>
        <a href="#" class="btn btn-warning">Make it!</a>
        <a href="#" class="btn btn-warning">Delete Item from MyRecipes</a>
    </div>
</div>
<br />
<div class="card w-90">
    <div class="card-body">
        <h5 class="card-title">Penne With Artichokes and Black Olives</h5>
        <p class="card-text">This is a really yummy, fast weeknight dinner.  So good with some crusty bread and a glass of red wine.</p>
        <a href="#" class="btn btn-warning">Make it!</a>
        <a href="#" class="btn btn-warning">Delete Item from MyRecipes</a>
    </div>
</div>
<br />
<div class="card w-90">
    <div class="card-body">
        <h5 class="card-title">Bobsled Blueberry Muffins</h5>
        <p class="card-text">These are to die for. I make them in a 6 cup pan and that's all I need to fill me up for breakfast.</p>
        <a href="#" class="btn btn-warning">Make it!</a>
        <a href="#" class="btn btn-warning">Delete Item from MyRecipes</a>
    </div>
</div>

<br />
<nav aria-label="...">
    <ul class="pagination">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        
        <li class="page-item">
            <a class="page-link disabled" href="#">Next</a>
        </li>
    </ul>
</nav>
